<div class="container">
        <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EchoJS Scraper</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a id="saved-articles" href="#">Saved Articles</a></li>
                <li><button id="scrape" class="btn btn-warning navbar-btn">Scrape New Articles</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
<div id="wrapper" class="container">
    <h1></h1>
    <!--<div id="articles"></div>-->
    <!--<div id="notes"></div>-->
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 new-article-panel">
        <div class="panel panel-default">
            <div class="panel-heading">New Articles</div>
            <div id="articles" class="panel-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 saved-article-panel">
        <div class="panel panel-default">
            <div class="panel-heading">Saved Articles</div>
            <div id="saved-articles-panel-body" class="panel-body">
                

            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="app.js"></script>

</div>